<h1>Tinkoff taxi</h1>
<form [formGroup]="userData" (submit)="onSubmit()">

  <div class="phone">
    <label for="phone">phone number</label>
    <input type="text" id="phone" formControlName="phone"/>
    <div class="error" *ngIf="isControlInvalid('phone')">
      Phone number can consist of numbers and "+" only.
    </div>
  </div>

  <div class="currentLocation">
    <label for="currentLocation">From</label>
    <input type="text" id="currentLocation" formControlName="currentLocation"/>
    <div class="error" *ngIf="isControlInvalid('currentLocation')">
      Enter valid address
    </div>
  </div>

  <div class="destination">
    <label for="destination">To</label>
    <input type="text" id="destination" formControlName="destination"/>
    <div class="error" *ngIf="isControlInvalid('destination')">
      Enter destination valid address
    </div>
  </div>

  <div class="taxiType">
    <label for="taxiType">Cab type</label>
    <input type="text" id="taxiType" formControlName="taxiType"/>
  </div>

  <div class="email">
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email"/>
    <div class="error" *ngIf="isControlInvalid('email')">
      Enter valid email address
    </div>
  </div>

  <button type="submit">Order taxi cub</button>
</form>

<div>
  {{userData.value | json}}
</div>
